---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/books/v1/volumes?maxResults=5&q=the%20great%20gatsby&startIndex=15
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"PHCkwOQosQs8w9BZDLmaoHrExzU/0UBaiuOcZpwvxXCFNKqUt7REkDk"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.08
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "books#volumes",
         "totalItems": 983,
         "items": [
          {
           "kind": "books#volume",
           "id": "Qqj-wUK3TfMC",
           "etag": "wCkERwKd1JE",
           "selfLink": "https://www.googleapis.com/books/v1/volumes/Qqj-wUK3TfMC",
           "volumeInfo": {
            "title": "Critical Studies",
            "subtitle": "The Great Gatsby",
            "authors": [
             "Kathleen Parkinson"
            ],
            "publisher": "Penguin UK",
            "publishedDate": "1988-10-27",
            "description": "Kathleen Parkinson places this brilliant and bitter satire on the moral failure of the Jazz Age firmly in the context of Scott Fitzgerald's life and times. She explores the intricate patterns of the novel, its chronology, locations, imagery and use of colour, and how these contribute to a seamless interplay of social comedy and symbolic landscape. She devotes a perceptive chapter to Fitzgerald's controversial portrayal of women and goes on to discuss how the central characters, Gatsby and Nick Carraway, embody and confront the dualism inherent in the American dream.",
            "industryIdentifiers": [
             {
              "type": "ISBN_13",
              "identifier": "9780141932200"
             },
             {
              "type": "ISBN_10",
              "identifier": "0141932201"
             }
            ],
            "readingModes": {
             "text": true,
             "image": false
            },
            "pageCount": 144,
            "printType": "BOOK",
            "categories": [
             "Literary Criticism"
            ],
            "contentVersion": "1.3.2.0.preview.2",
            "imageLinks": {
             "smallThumbnail": "http://books.google.com/books/content?id=Qqj-wUK3TfMC&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api",
             "thumbnail": "http://books.google.com/books/content?id=Qqj-wUK3TfMC&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api"
            },
            "language": "en",
            "previewLink": "http://books.google.com/books?id=Qqj-wUK3TfMC&printsec=frontcover&dq=the+great+gatsby&hl=&cd=16&source=gbs_api",
            "infoLink": "http://books.google.com/books?id=Qqj-wUK3TfMC&dq=the+great+gatsby&hl=&source=gbs_api",
            "canonicalVolumeLink": "http://books.google.com/books/about/Critical_Studies.html?hl=&id=Qqj-wUK3TfMC"
           },
           "saleInfo": {
            "country": "US",
            "saleability": "FOR_SALE",
            "isEbook": true,
            "listPrice": {
             "amount": 7.59,
             "currencyCode": "USD"
            },
            "retailPrice": {
             "amount": 5.84,
             "currencyCode": "USD"
            },
            "buyLink": "http://books.google.com/books?id=Qqj-wUK3TfMC&dq=the+great+gatsby&hl=&buy=&source=gbs_api",
            "offers": [
             {
              "finskyOfferType": 1,
              "listPrice": {
               "amountInMicros": 7590000.0,
               "currencyCode": "USD"
              },
              "retailPrice": {
               "amountInMicros": 5840000.0,
               "currencyCode": "USD"
              }
             }
            ]
           },
           "accessInfo": {
            "country": "US",
            "viewability": "PARTIAL",
            "embeddable": true,
            "publicDomain": false,
            "textToSpeechPermission": "ALLOWED_FOR_ACCESSIBILITY",
            "epub": {
             "isAvailable": true,
             "acsTokenLink": "http://books.google.com/books/download/Critical_Studies-sample-epub.acsm?id=Qqj-wUK3TfMC&format=epub&output=acs4_fulfillment_token&dl_type=sample&source=gbs_api"
            },
            "pdf": {
             "isAvailable": false
            },
            "webReaderLink": "http://books.google.com/books/reader?id=Qqj-wUK3TfMC&hl=&printsec=frontcover&output=reader&source=gbs_api",
            "accessViewStatus": "SAMPLE",
            "quoteSharingAllowed": false
           },
           "searchInfo": {
            "textSnippet": "She explores the intricate patterns of the novel, its chronology, locations, imagery and use of colour, and how these contribute to a seamless interplay of social comedy and symbolic landscape."
           }
          },
          {
           "kind": "books#volume",
           "id": "ERy7UWArfIoC",
           "etag": "jZ/Np/GficQ",
           "selfLink": "https://www.googleapis.com/books/v1/volumes/ERy7UWArfIoC",
           "volumeInfo": {
            "title": "The Great Gatsby and Modern Times",
            "authors": [
             "Ronald Berman"
            ],
            "publisher": "University of Illinois Press",
            "publishedDate": "1996-01-01",
            "description": "Using editorials, columns, advertisements, silent film, architecture, and photography, this title develops the theme of modern consciousness.",
            "industryIdentifiers": [
             {
              "type": "ISBN_10",
              "identifier": "0252065891"
             },
             {
              "type": "ISBN_13",
              "identifier": "9780252065897"
             }
            ],
            "readingModes": {
             "text": false,
             "image": true
            },
            "pageCount": 197,
            "printType": "BOOK",
            "categories": [
             "Literary Criticism"
            ],
            "averageRating": 5.0,
            "ratingsCount": 1,
            "contentVersion": "1.0.1.0.preview.1",
            "imageLinks": {
             "smallThumbnail": "http://books.google.com/books/content?id=ERy7UWArfIoC&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api",
             "thumbnail": "http://books.google.com/books/content?id=ERy7UWArfIoC&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api"
            },
            "language": "en",
            "previewLink": "http://books.google.com/books?id=ERy7UWArfIoC&printsec=fro[...]
