---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/books/v1/volumes?maxResults=5&q=&startIndex=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.08
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "queryRequired",
            "message": "Missing query.",
            "locationType": "parameter",
            "location": "q"
           }
          ],
          "code": 400,
          "message": "Missing query."
         }
        }
  recorded_at: Fri, 20 Feb 2015 16:33:00 GMT
recorded_with: VCR 2.9.3
