---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/books/v1/volumes?maxResults=20&q=F.%20Scott%20Fitzgerald&startIndex=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"PHCkwOQosQs8w9BZDLmaoHrExzU/hBlHis9WMz7S_fsy4rj4fnXq7Q4"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.08
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "books#volumes",
         "totalItems": 867,
         "items": [
          {
           "kind": "books#volume",
           "id": "JgxOs2GX86AC",
           "etag": "HMD4Yge93gg",
           "selfLink": "https://www.googleapis.com/books/v1/volumes/JgxOs2GX86AC",
           "volumeInfo": {
            "title": "The Great Gatsby",
            "authors": [
             "F.Scott Fitzgerald"
            ],
            "publisher": "Interactive Media",
            "publishedDate": "2012-02-14",
            "description": "A social satire and a milestone in 20th century literature, 'The Great Gatsby' peels away the layers of the glamorous twenties in the U.S. to display the coldness and cruelty at its heart.",
            "industryIdentifiers": [
             {
              "type": "ISBN_13",
              "identifier": "9781907832567"
             },
             {
              "type": "ISBN_10",
              "identifier": "1907832564"
             }
            ],
            "readingModes": {
             "text": true,
             "image": true
            },
            "pageCount": 154,
            "printType": "BOOK",
            "categories": [
             "Fiction"
            ],
            "averageRating": 4.0,
            "ratingsCount": 519,
            "contentVersion": "0.1.2.0.preview.3",
            "imageLinks": {
             "smallThumbnail": "http://books.google.com/books/content?id=JgxOs2GX86AC&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api",
             "thumbnail": "http://books.google.com/books/content?id=JgxOs2GX86AC&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api"
            },
            "language": "en",
            "previewLink": "http://books.google.com/books?id=JgxOs2GX86AC&printsec=frontcover&dq=F.+Scott+Fitzgerald&hl=&cd=1&source=gbs_api",
            "infoLink": "http://books.google.com/books?id=JgxOs2GX86AC&dq=F.+Scott+Fitzgerald&hl=&source=gbs_api",
            "canonicalVolumeLink": "http://books.google.com/books/about/The_Great_Gatsby.html?hl=&id=JgxOs2GX86AC"
           },
           "saleInfo": {
            "country": "US",
            "saleability": "FOR_SALE",
            "isEbook": true,
            "listPrice": {
             "amount": 6.0,
             "currencyCode": "USD"
            },
            "retailPrice": {
             "amount": 4.62,
             "currencyCode": "USD"
            },
            "buyLink": "http://books.google.com/books?id=JgxOs2GX86AC&dq=F.+Scott+Fitzgerald&hl=&buy=&source=gbs_api",
            "offers": [
             {
              "finskyOfferType": 1,
              "listPrice": {
               "amountInMicros": 6000000.0,
               "currencyCode": "USD"
              },
              "retailPrice": {
               "amountInMicros": 4620000.0,
               "currencyCode": "USD"
              }
             }
            ]
           },
           "accessInfo": {
            "country": "US",
            "viewability": "PARTIAL",
            "embeddable": true,
            "publicDomain": false,
            "textToSpeechPermission": "ALLOWED",
            "epub": {
             "isAvailable": true,
             "acsTokenLink": "http://books.google.com/books/download/The_Great_Gatsby-sample-epub.acsm?id=JgxOs2GX86AC&format=epub&output=acs4_fulfillment_token&dl_type=sample&source=gbs_api"
            },
            "pdf": {
             "isAvailable": true,
             "acsTokenLink": "http://books.google.com/books/download/The_Great_Gatsby-sample-pdf.acsm?id=JgxOs2GX86AC&format=pdf&output=acs4_fulfillment_token&dl_type=sample&source=gbs_api"
            },
            "webReaderLink": "http://books.google.com/books/reader?id=JgxOs2GX86AC&hl=&printsec=frontcover&output=reader&source=gbs_api",
            "accessViewStatus": "SAMPLE",
            "quoteSharingAllowed": false
           },
           "searchInfo": {
            "textSnippet": "A social satire and a milestone in 20th century literature, &#39;The Great Gatsby&#39; peels away the layers of the glamorous twenties in the U.S. to display the coldness and cruelty at its heart."
           }
          },
          {
           "kind": "books#volume",
           "id": "7eIYh0PfXTsC",
           "etag": "k1AgbWBVHbY",
           "selfLink": "https://www.googleapis.com/books/v1/volumes/7eIYh0PfXTsC",
           "volumeInfo": {
            "title": "This Side of Paradise",
    [...]
